body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 20px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 10px 5px 10px 5px;
  margin: 10px;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button{
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  height: 50px;
  width: 200px;
  font-size: 16px;
  padding: 5px;
}

.title, .button-container {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}